<ion-view view-title=" About Us">
  <ion-content padding="true">

  <p>
  You get to concentrate on your core business – we take care of the rest.
Day-in, day-out, Everest 500,000 employees worldwide provide tasty meals, clean and attractive premises, and responsive and professional services to thousands of companies and organisations, their staff and guests.
We take great pride in what we do!

OUR CERTIFICATION
At Everest Group, Health and Safety is our number one operational priority – we place it first in everything we do. Our employees and surroundings are valued assets, and we follow strict policies on both occupational health & safety and environmental management. This is why we are certified according to the international standards OHSAS (Occupational Health and Safety Series) 18001 and ISO 14001 for environmental management.

In practice, this means that we practise Safety First and hold weekly whiteboard meetings, conduct internal and external audits and an annual workplace assessment. In environmental management, we have set ourselves clear targets to reduce our environmental impact.

Environmental commitment is part and parcel of the job for all of our employees, and is embodied in our rules, procedures and daily workflows.

A CLOSE PARTNER
Thousands of companies and organisations across the whole of Denmark hand over the daily responsibility for catering, cleaning and facility management to our safe and capable hands. They do so because we have three focus points: great employees, great service and great results.

With more than 60 years’ experience, we have the capability, size and expertise to be the perfect business partner who listens, makes continuous improvements and creates and delivers a solution custom-made to meet your specific needs.

Welcome to Everest Group Danmark A/S.


  </p>

  </ion-content>
</ion-view>