	
	<ion-view view-title="My Images">
	<ion-pane>
	  <ion-header-bar class="bar-stable">
		<h1 class="title">Devdactic Media Popover</h1>
	  </ion-header-bar>
	 
	  <ion-content class="has-header padding" ng-controller="MediaCtrl">
	  <br>
	  
	   <div>
		
		
		<p>Tap the Image for the popup & again tap for the exit of the image.</p>
		</div>
		  <br><br>
		<div class="item item-divider">
			<i class="ion-images"></i>
			My Images
		</div>
		<a class="item item-list-detail">
			<ion-scroll direction="x">
				<img ng-repeat="image in allImages" ng-src="{{image.src}}" ng-click="showImages($index)" class="image-list-thumb"/>
			</ion-scroll>
		</a></br>
			
		 <div class="button-bar">
        <button class="button button-outline button-positive" ng-click="playVideo()">Play a video</button>
    </div>
		
		
   

	 	
		
	  </ion-content>
	 
	</ion-pane>
	</ion-view>