

<ion-view view-title=" Terms of Use">
  <ion-content padding="true">

  <p>
  
  WELCOME TO THE  EVEREST MOBILE CANTEEN APPLICATION.BY INSTALLING THE APP
  YOU AGREE TO THE ALL TERMS AND CONDITIONS AND LEGALLY BINDING BETWEEN YOU AND THE
  EVEREST CANTEEN TERMS OF REFERNCE AND THE INFORMATION.THESE TERMS MAY BE UPDATED TIME TO TIME.
  YOU MUST BE A MAJOR TO ACCESS THE INFORMATION OR YOUR LAND JURISDICTION LAWS WILL PREVAIL FOR VIEWING
  </p>
  <p>
  
  DEFINITION OF YOU OR USER MEANS ONE WHO ACCESS THE INFO.
  YOU HERE BY REPRESNT,WARRANT AND COVENANT THAT YOU PROVIDE US WITH ACCURATE,TRUTHFUL AND COMPLETE REGISTRATION 
  INFORMATION ANY DEVIATION WILL LEAD TO BREACH OF AGREEMENT AND TERMINATION OF ACCOUNT.
  BY INSTALLING YOU AGREE THAT YOU ARE SOLELY RESPONSIBLE FOR ANY BREACH OF YOUR OBLIGATIONS UNDDR THE TERMS OF REFERENCE.
  </p>
  <p>
  
  
  EVEREST CANTEEN WILL NOT BE RESPONSEIBLE FOR ANY ACCIDENTAL,INCEIDENTAL OR CONSEQUENTIAL DAMAGES FOR ANY LOSS OF BUSINESS,SOFTWARE,HARDWARE,
  LOSS OF DATA,VIRAL EFFECT OR USAGE OF APPLICATION.
  </p>
  <p>
  
  NO REPRESNTAIONS,WARRANTIES,GUARANTEES WHATSOEVER ARE MADE IN THE INFO.THE APP SERVICES WILL BE UNINTERRUPTED,SECURED & ERROR FREE.
  THE APP ALSO DETAILS,INFO SUPPLIED BY TIRD PARTIEES,OPINION ADVICE& CONTENT PROVIDED BY THE THIRD-PARTIES,EVEREST APP WILL NOT NE LIABNLE FOR ANY KIND OF DEMAGES AND 
  RESPONSIBILITY.
  </p>

      </div>

  </ion-content>
</ion-view>