<ion-view view-title="Youtube Videos">
  <ion-content class="padding">
    <form ng-submit="search()">
      <div class="item item-input item-icon-right">
        <input type="search" ng-model="searchInput.name" placeholder="Video Name">
       
      </div>
    </form>
    <div class="list card" ng-repeat="video in videos">
      <div class="item item-text-wrap">
        <h2>{{video.snippet.title}}</h2>
        <p>{{video.snippet.description}}</p>
        <h2>{{video.snippet.channelTitle}}</h2>
      </div>
      <div class="item item-image">
        <div class="embed-responsive embed-responsive-16by9"><youtube-video class="embed-responsive-item" video-id="video.id.videoId" player-vars="playerVars"></youtube-video></div>
      </div>
    </div>
  </ion-content>
</ion-view>